/*@import '../../../node_modules/@angular/cdk/a11y-prebuilt.css';*/

.scrollbox{
  background: #f4f4f4;
    border: 2px solid rgba(0, 0, 0, 0.1);
    height: 180px; /* maximum height of the box, feel free to change this! */
    padding: 15px;
    overflow-y: scroll;
    margin-top: -10px;

}
#pop{
  margin-top: -23px;
  font-style: italic;
  font-size: 12px;
}

#flex-cont{
  display: flex;
  flex-direction: column;
  width: 400px;
  margin-top: -1.25em;
  margin-right: -1.25em;
  /*background-color: #5e0303;*/
  height: 470px;
}

.knapp{
  align-self:flex-end;
}

button:focus{
  outline: 0 !important;
}

.flex-item{
  align-self: center;
  width: 100%;
  margin-top: 1.25em;
  margin-right: 1.25em;
  text-align: center;

}

img{
  border-radius: 50%;
  width: 40%;
  margin-top: -2em;
  margin-bottom: 0.8em;
}

#close{
  width: 30px;
  height: 30px;
  background-color: white;
  border: 0px;

}
i:hover{
  color: pink;
}
