@import url('https://fonts.googleapis.com/css?family=Lato:100');



img{
    width: 100px;
}
.navbar{
    color: white;
}

h1, p {
    font-family: 'Lato', sans-serif;
    color: white;
    display: flex;
}

/*LOGO on navbar*/
.navbar-brand {
    font-family: 'Lato', sans-serif;
    color: white;
    margin-right: 5%;
}

/*Link names on navbar*/
#navbarCollapse {
    font-family: 'Lato', sans-serif;
    color: white;
    font-size: 20px;
}

.navbar-nav {
  margin-left: 5%;
}
