<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">

    <div class="artists" *ngIf="songList">
      <table class="table">
        <thead class="h">
          <tr class="h">
            <th class="h">Name</th>
            <th class="h">MBID</th>
            <th class="h">IMG</th>
          </tr>
        </thead>
        <tbody>
          <tr class="artist" *ngFor="let artist of artistList">

            <ng-container *ngIf="!editArtists.includes(artist); else editA">
              <td>{{artist.name}}</td>
              <td>{{artist.mbid}}</td>
              <td>{{artist.img}}</td>
            </ng-container>

            <!-- <ng-template #editA>
                <td><input type="text" name="name" id="name" (keypress)="submitArtist($event, artist)" [(ngModel)]="artist.name" placeholder="Name" class="form-control"></td>
                <td><input type="text" name="mbid" id="mbid" (keypress)="submitArtist($event, artist)" [(ngModel)]="artist.mbid" placeholder="MBID" class="form-control"></td>
                <td><input type="text" name="img" id="img" (keypress)="submitArtist($event, artist)" [(ngModel)]="artist.img" placeholder="IMG" class="form-control"></td>
            </ng-template> -->

            <td class="o">
              <button class="btn btn-primary" (click)="editArtist(artist)">
                edit
              </button>
              <button class="btn btn-danger" (click)="deleteArtist(artist)">
                delete
              </button>
            </td>

          </tr>
        </tbody>
      </table>
    </div>
