.flex-cont{
    flex-direction: column;
}
  
/* Use this CSS when width <> 600px */
@media all and (min-width: 600px){
    img{
        max-width: 100%;
        float: left;
        position: relative;
    }
    #bildene{
        margin-top: -1.5%;
        width: 100%;
        display: -webkit-flex; /* Safari */
        display: flex;
    }
    #bildene div{
        width: 33.34%;
        min-width: 200px;
    }
}