<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div id="bildene">
    <div>
        <a routerLink ="/top50/norway" routerLinkActive="active"><img src="./assets/images/norwayTop50grey.jpg"
        onmouseover="this.src='./assets/images/norwayTop50.jpg'" onmouseout="this.src='./assets/images/norwayTop50grey.jpg'"/>
        </a>
    </div>

    <div>
        <a routerLink="/top50/global" routerLinkActive="active"><img src="./assets/images/globalTop50grey.jpg"
        onmouseover="this.src='./assets/images/globalTop50.jpg'" onmouseout="this.src='./assets/images/globalTop50grey.jpg'"/>
        </a>
    </div>

    <div>
        <a routerLink="/top50/sweden"><img src="./assets/images/swedenTop50grey.jpg"
        onmouseover="this.src='./assets/images/swedenTop50.jpg'" onmouseout="this.src='./assets/images/swedenTop50grey.jpg'"/>
        </a>
    </div>
</div>