<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div id="bildene">
    <div>
        <a routerLink ="/top50/norway" routerLinkActive="active"><img src="./assets/images/norwayTop50grey.jpg"
        onmouseover="this.src='./assets/images/norwayTop50.jpg'" onmouseout="this.src='./assets/images/norwayTop50grey.jpg'"/>
        </a>
    </div>

    <div>
        <a routerLink="/top50/denmark" routerLinkActive="active"><img src="./assets/images/denmarkTop50grey.jpg"
        onmouseover="this.src='./assets/images/denmarkTop50.jpg'" onmouseout="this.src='./assets/images/denmarkTop50grey.jpg'"/>
        </a>
    </div>

    <div>
        <a routerLink="/top50/sweden"><img src="./assets/images/swedenTop50grey.jpg"
        onmouseover="this.src='./assets/images/swedenTop50.jpg'" onmouseout="this.src='./assets/images/swedenTop50grey.jpg'"/>
        </a>
    </div>
</div>
<br>
<mat-card>
  <mat-card-title>What's on Top50?</mat-card-title>
    <mat-card-subtitle>Check out playlists and search for artists!</mat-card-subtitle>
    <mat-card-content>This page contains a music-search-engine which searches a local database for artists. Click 'Search' in the navigationbar for this feature. To see search history, sign up and log in.
      Press the wordcloud to check artists in our database with highest popularity on LastFM. To get an overview of top 50 songs in Norway, Denmark and Sweden, press the following playlist and you will be redirected to
      a new page. Press the images for more information.
  </mat-card-content>
</mat-card>
