.flex-cont{
    flex-direction: column;
}

/* Use this CSS when width <> 576px */
@media all and (min-width: 576px){
    img{
        max-width: 100%;
        float: left;
        position: relative;
    }
    #bildene{
        padding-top: 3.89em;
        width: 100%;
        display: -webkit-flex; /* Safari */
        display: flex;
    }
    #bildene div{
        width: 33.34%;
        min-width: 200px;
    }
}
