li{
    list-style: none;
    width: 20%;
}
.songData{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2em;
}
h3 {
    padding-top: 2em;
}

.gridlist {
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  align-items: flex-start;
}

.tile {
  background: lightblue;
  min-width: 200px;
}

.artistview {
  padding-top: 5em;
}
