<div class="wrap">
    <div class="search">
       <input type="text" class="searchTerm" placeholder="Search artist, song, etc." (keyup)="onKey($event)">
       <button type="submit" class="searchButton" (click)="getArtist()">
         <i class="material-icons">search</i> <!-- Search-icon -->
       </button>
    </div>
</div>
<div class="artistview" (window:resize)="onResize($event)">
  <mat-grid-list  class="gridlist" cols="{{column}}" rowHeight="1:1">
    <mat-grid-tile class="tile" *ngFor="let artist of artistSearchResult | IterableDictPipe"> <app-artistview [artist]=artist.value></app-artistview></mat-grid-tile>
  </mat-grid-list>
</div>