<div class="wrap">
    <div class="search">
       <input type="text" class="searchTerm" placeholder="Search artist" (keyup)="onKey($event)">
       <button type="submit" class="searchButton" (click)="getArtist()">
         <i class="material-icons">search</i> <!-- Search-icon -->
       </button>
    </div>
    <!-- selecting what to sort by -->
    <mat-form-field>
      <mat-select placeholder="Sort by: " [(ngModel)]="selectedSortValue" (selectionChange)="changedSort($event)">
        <mat-option *ngFor="let item of sortItems" [value]="item.value">
          {{ item.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <!-- selecting filters -->
    <mat-form-field>
      <mat-select placeholder="Filter by genre: " [formControl]="filterSelect" multiple [(ngModel)]="selectedFilters" (selectionChange)="changedFiler($event)">
        <mat-option *ngFor="let filter of filterList" [value]="filter">{{filter}}</mat-option>
      </mat-select>
    </mat-form-field>    
</div>
<div class="artistview" (window:resize)="onResize($event)">
  <div class="infinitescrollDiv"
    infiniteScroll
    [infiniteScrollDistance]="0.9"
    [infiniteScrollThrottle]="500"
    (scrolled)="onScroll()">
    <mat-grid-list  class="gridlist" cols="{{column}}" rowHeight=300px>
      <mat-grid-tile class="tile" *ngFor="let artist of artistSearchResult | IterableDictPipe | slice:0:limit">
        <div class="animation"[@Animation]='state' (scrolled)="animateMe()">
          <mat-grid-tile-header><span style="margin-left:auto; margin-right:auto">{{artist.value.name}}</span></mat-grid-tile-header>
          <app-artistview [artist]=artist.value></app-artistview>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
